.root {
  text-align: left;
}

.tabs {
  display: flex;
}

.ingredientsBlock {
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ingredientsBlock {
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ingredientElement {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.ingredientImg {
  height: 125px;
}

.ingredientPrice {
  display: flex;
  text-align: center;
  justify-content: center;
}

.ingredientName {
  line-height: 1.5em;
  height: 3em;
  text-overflow: ellipsis;
}

.detailBlock {
  width: 520px;
  text-align: center;
  margin: 0 auto;
}

.detailImage {
  height: 240px;
}

.detailName {
  text-align: center;
}

.detailInfo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.detailInfoValue {
  flex: 1 1 25%;
  text-align: center;
}